@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Biblioteczka</h1>
        <p class="lead">Strona dla zaczytanych. Prowadż swój rejestr i szukaj rzadkich okazów u innych</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Załóż konto</h2>
            <p>
                Konto założysz przy użyciu jedynie maila
            </p>
            <p><p>
                @Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register","Account")
            </p></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Prowadź własną bazę posiadanych książek</h2>
            <p>Strona pozwala na prowadzenie szczegółowego rejestru posiadanych książek. Z każdego miejsca na świecie możesz sprawdzić, czy brakuje Ci tej, która Cię zainteresowała w sklepie.</p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Szukaj u innych</h2>
            <p>Dzięki naszemu serwisowi możesz szukać książek, które Cię interesują i kontaktować się z ich właścicielami. Dzielmy się nawzajem białymi krukami!</p>
        </section>
    </div>
</main>